<main>
    <section class="left-section">
        <div class="header">
          <h1 class="title">{{ title }}</h1>
          <p class="slogan">"Explore the coding journey of any GitHub user with just a search"</p>
        </div>

        <div class="search_input">
            <input [(ngModel)]="username" placeholder="Search a Github Account..."/>
            <button (click)="fetchEvents()">Search</button>

            <div *ngIf="loading" class="loading">Loading...</div>
            <div *ngIf="error" class="error">{{ error }}</div>
        </div>
    </section>
</main>

<section class="events" *ngIf="groupedEvents.length > 0">
  <div class="events_list">
    <ng-container *ngFor="let group of groupedEvents">
      <ng-container *ngFor="let event of group.events">
        <div class="events_card" *ngIf="event.type === 'PushEvent' && event.payload?.commits">
          <strong>{{ group.repoName }}</strong>
          <p>{{ event.type }} | {{ event.created_at | date:'medium' }}</p>
          <ul>
            <li *ngFor="let commit of event.payload.commits">
              <a [href]="'https://github.com/' + group.repoName + '/commit/' + commit.sha" target="_blank">
                {{ commit.message }}
              </a>
            </li>
          </ul>
        </div>
      </ng-container>
    </ng-container>
  </div>
</section>

<footer>
    <p class="footer-text">
        Developed by <a href="https://lucascunegundesportfolio.netlify.app/" target="_blank">{{ myUsername }}</a>
    </p>
</footer>
