.left-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 50%;
  max-width: 1000px;
  padding: 40px;
  margin-top: 9vh;

  .header {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    animation: slideInLeft 1s ease-out;

    .title {
      font-size: 70px;
      font-weight: 900;
      color: #fff;
      margin-bottom: 0;
    }

    .slogan {
      width: 30vw;
      font-size: 40px;
      font-weight: 300;
      font-style: italic;
      color: #fff;
      line-height: 1.5;
      margin: 0;
    }
  }

  .search_input {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
    text-align: center;

    input {
      width: 94.5%;
      padding: 12px;
      font-size: 16px;
      border: 2px solid #ddd;
      border-radius: 8px;
      outline: none;
      transition: border-color 0.3s ease-in-out;

      &:focus {
        border-color: #007bff;
      }
    }

    button {
      margin-top: 10px;
      width: 100%;
      padding: 12px;
      font-size: 16px;
      font-weight: 600;
      background-color: #007bff;
      color: white;
      border: none;
      border-radius: 8px;
      cursor: pointer;
      transition: background 0.3s ease-in-out;

      &:hover {
        background-color: #0056b3;
      }
    }

    .loading {
      margin-top: 10px;
      font-size: 16px;
      color: #ff9800;
      font-weight: 500;
    }

    .error {
      margin-top: 10px;
      font-size: 16px;
      color: #e74c3c;
      font-weight: 500;
    }
  }
}

.events {
  padding: 20px;
  margin-top: 10vh;

  .events_list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    gap: 20px;
    padding: 20px;
    align-items: start;
  }

  .events_card {
    padding: 12px;
    margin: 10px 0;
    border-radius: 8px;
    box-shadow: 0 10px 5px rgba(0, 0, 0, 0.1);
    font-size: 14px;
    text-align: center;
    min-height: 200px;
    background-color: rgba(44, 45, 93, 0.06);

    transition: transform 0.2s ease-in-out;

    ul {
      list-style: none;
      padding: 4vh 1vw 1vh;
    }

    strong {
      color: #007bff;
      font-weight: 900;
    }

    p {
      font-weight: 400;
      font-style: italic;
    }

    a {
      text-decoration: none;
      color: #fff;
      font-weight: 600;
      transition: color 0.3s ease-in-out;

      &:hover {
        color: #007bff;
      }
    }
  }
}

.events_card:hover {
  transform: translateY(-5px);
}

footer {
  margin-top: 10vh;
  margin-bottom: 0;
  text-align: center;

  .footer-text {
    font-size: 14px;
    font-weight: 400;
    color: #fff;
  }

  a {
    text-decoration: none;
    font-weight: 600;
    color: #0044ff;
    transition: color 0.3s ease-in-out;

    &:hover {
      color: #002ca3;
    }
  }
}

@keyframes slideInLeft {
  0% {
    transform: translateX(-20%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@media (max-width: 768px) {
  body::before {
    width: 300px;
    height: 300px;
  }
}
