@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600,700,800,900&display=swap');

body::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 75%;
  width: 500px;
  height: 500px;
  background: url('../public/github-mark/github-mark-white.svg') no-repeat center;
  background-size: contain;
  opacity: 0.5;
  transform: translate(-50%, -50%);
  z-index: -1;
}

body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(135deg, #002246, #00032c);
  color: #fff;
  min-height: 90vh;
}
